{% load static %}

<div class="post-header">
      <div class="support-info">
          <ul class="support-total-info">
              <li class="open-ticket"><i class="icon_info_alt"></i>576 Open</li>
              <li class="close-ticket"><i class="icon_check"></i><a href="#">2,974 Closed</a></li>
          </ul>
      </div>
    <!-- /.support-info -->

    <div class="support-category-menus">
        <ul class="category-menu">
            <li>
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuAuthor" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Author
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuAuthor">
                        <h3 class="title">Filter by author</h3>

                        <form action="#" class="cate-search-form">
                            <input type="text" placeholder="Filter users">
                        </form>

                        <div class="all-users">
                            <a class="dropdown-item" href="#0" data-rel="richard">
                                <img src="{% static 'img/home_support/fl1.png' %}" alt="user">
                                Richard Tea
                            </a>
                            <a class="dropdown-item" href="#0" data-rel="druid">
                                <img src="{% static 'img/home_support/fl2.png' %}" alt="user">
                                Druid Wensleydale
                            </a>
                            <a class="dropdown-item" href="#0" data-rel="weir">
                                <img src="{% static 'img/home_support/fl3.png' %}" alt="user">
                                Weir Doee
                            </a>
                            <a class="dropdown-item" href="#0" data-rel="giles">
                                <img src="{% static 'img/home_support/fl4.png' %}" alt="user">
                                Giles Posture
                            </a>
                            <a class="dropdown-item" href="#0" data-rel="theodore">
                                <img src="{% static 'img/home_support/fl5.png' %}" alt="user">
                                Theodore Handle
                            </a>
                            <a class="dropdown-item" href="#0" data-rel="mann">
                                <img src="{% static 'img/home_support/fl6.png' %}" alt="user">
                                Guy Mann
                            </a>
                            <a class="dropdown-item" href="#0" data-rel="dylan">
                                <img src="{% static 'img/home_support/fl7.png' %}" alt="user">
                                Dylan Meringue
                            </a>
                            <a class="dropdown-item" href="#0" data-rel="fletch">
                                <img src="{% static 'img/home_support/fl8.png' %}" alt="user">
                                Fletch Skinner
                            </a>
                        </div>
                    </div>
                </div>
            <li>
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuLabel" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Label
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLabel">
                        <h3 class="title">Filter by label</h3>

                        <form action="#" class="cate-search-form">
                            <input type="text" placeholder="Filter users">
                        </form>

                        <div class="all-users">
                            <a class="dropdown-item" data-rel="docly" href="#0">
                                <span class="color-purple"></span>
                                Docly
                            </a>
                            <a class="dropdown-item" data-rel="improvement" href="#0">
                                <span class="color-yellow">
                                </span>
                                Improvement !
                            </a>
                            <a class="dropdown-item" data-rel="css" href="#0">
                                <span class="color-ass"></span>
                                CSS
                            </a>
                            <a class="dropdown-item" href="#0" data-rel="feature">
                                <span class="color-green"></span>
                                Feature
                            </a>
                            <a class="dropdown-item" data-rel="spider" href="#0">
                                <span class="color-orange"></span>
                                Spider theme
                            </a>
                            <a class="dropdown-item" href="#0" data-rel="open">
                                <span class="color-theme"></span>
                                Open
                            </a>
                            <a class="dropdown-item" data-rel="bug" href="#0">
                                <span class="color-pink"></span>
                                Bug !
                            </a>
                            <a class="dropdown-item" data-rel="doc" href="#0">
                                <span class="color-light-green"></span>
                                Docs
                            </a>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuAssignee" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Assignee
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuAssignee">
                        <h3 class="title">Filter by author</h3>

                        <form action="#" class="cate-search-form">
                            <input type="text" placeholder="Filter users">
                        </form>

                        <div class="all-users">
                            <a class="dropdown-item" href="#">
                                <img src="{% static 'img/home_support/fl1.png' %}" alt="user">
                                Richard Tea
                            </a>
                            <a class="dropdown-item" href="#">
                                <img src="{% static 'img/home_support/fl2.png' %}" alt="user">
                                Druid Wensleydale
                            </a>
                            <a class="dropdown-item" href="#">
                                <img src="{% static 'img/home_support/fl3.png' %}" alt="user">
                                Weir Doee
                            </a>
                            <a class="dropdown-item" href="#">
                                <img src="{% static 'img/home_support/fl4.png' %}" alt="user">
                                Giles Posture
                            </a>
                            <a class="dropdown-item" href="#">
                                <img src="{% static 'img/home_support/fl5.png' %}" alt="user">
                                Theodore Handle
                            </a>
                            <a class="dropdown-item" href="#">
                                <img src="{% static 'img/home_support/fl6.png' %}" alt="user">
                                Guy Mann
                            </a>
                            <a class="dropdown-item" href="#">
                                <img src="{% static 'img/home_support/fl7.png' %}" alt="user">
                                Dylan Meringue
                            </a>
                            <a class="dropdown-item" href="#">
                                <img src="{% static 'img/home_support/fl8.png' %}" alt="user">Fletch Skinner
                            </a>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Sort
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <h3 class="title">Sort by</h3>
                        <div class="short-by">
                            <a class="dropdown-item active-short" href="#0">Newest</a>
                            <a class="dropdown-item" href="#0">Oldest</a>
                            <a class="dropdown-item" href="#0">Most commented</a>
                            <a class="dropdown-item" href="#0">Least commented</a>
                            <a class="dropdown-item" href="#0">Recently updated</a>
                            <a class="dropdown-item" href="#0">Least recently updated</a>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <!-- /.support-category-menus -->
</div>
<!-- /.post-header -->