{% extends 'D16_MMORPG_board/default.html' %}
{% load i18n %}
{% load static %}
        {% block page_content %}
        <div class="section_title text-center">
            <h2 class="h_title wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
                    Категория {{ category_name }}
            </h2>
        </div>

{#    {% include 'D16_MMORPG_board/_action.html' %}#}
    
    {% if ads_category %}
{#    {% include 'D16_MMORPG_board/_post_header.html' %}#}
    <div class="community-posts-wrapper bb-radius">
        {% for ad in ads_category %}
        <div class="community-post style-two docly richard bug">
            <div class="post-content">
            <div class="author-avatar">
                <img src="{% get_media_prefix %}{{ ad.ad_author.profile.user_avatar }}" alt="community post">
            </div>
                <div class="entry-content">
                    <h3 class="post-title">
                        <a href="{% url 'ad_detail' ad.pk %}">{{ ad.ad_title }}</a>
                    </h3>
                    {% if ad.ad_status is False %}
                        <span class="com-featured"><i class="icon_check"></i></span>
                    {% endif %}
                    <ul class="meta">
                        <li>
                            <a href="/category/{{ ad.ad_category_id }}">
                                {{ ad.ad_category }}
                            </a>
                        </li>
{#                        <li><i class="icon_calendar"></i>Обновлено 3 дня назад</li>#}
                    </ul>
                </div>
            </div>
            <div class="post-meta-wrapper">
                <ul class="post-meta-info">
                    <li><a href="#"><i class="icon_chat_alt"></i>{% for re in ads_reply %}{% endfor %}</a></li>
{#                    <li><a href="#"><i class="icon_star"></i>5</a></li>#}
                </ul>
            </div>
        </div>
        <!-- /.community-post -->
        {% endfor %}
        <!-- /.community-post -->
    </div>
    <!-- /.community-posts-wrapper -->

    {% else %}
        <h3 style="text-align: center; margin: 1rem">Тут объявлений нет ¯\_(ツ)_/¯</h3>
    {% endif %}

{% endblock page_content %}